@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-poppins;
  }
  .btn {
    @apply bg-gray-700 px-2 py-1 sm:px-4 sm:py-2 rounded-lg border border-gray-400 hover:bg-amber-500  hover:-translate-y-0.5 transition-all duration-200;
  }
}

@layer components {
  .before-custom {
    @apply before:absolute before:bg-gray-800 content-none before:block before:text-lg before:h-7 before:w-2/5 xl:before:w-1/5 before:top-0 before:-translate-y-[100%] before:left-0 before:text-center before:rounded-t before:font-Inconsolata before:tracking-wider;
  }
}
.fusioncharts-container svg {
  width: 100% !important;
  border-radius: 0.5rem;
}
.fusioncharts-container {
  width: 100% !important;
}
.responsive-chart div {
  width: 100% !important;
}
